.swiper {
    width: 100%;
	height: 83vh;
}
.swiper-slide img {
	width: 100%;
	height: 100vh;
}

/*-----------------ここからがid=homeのcss-----------------*/
#home{
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: rgb(232, 232, 232);
}

.header-left,
.header-right{
	width: 50%;
	height: 100%;
}

.header-left{
	display: flex;
	justify-content: left;
	align-items: center;
	margin-left: 5%;
}

.header-right{
	padding-top: 1%;
}

.header-right ul{
	height: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header-right ul li{
	color: rgb(112, 8, 8);
}

/*-----------------ここまでがid=homeのcss----------------*/

/*---------------ここからが”class=lnks”のcss---------------*/
.links{
 height: 7vh;
 width: 100%;
 background-color: rgb(206, 206, 206);
 
}

.links .about{
	height: 7vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
}

.about li a{
	color: rgb(112, 8, 8);
	text-decoration: none;
	font-size: large;
	cursor: pointer;
}
/*---------------ここまでが”class=lnks”のcss---------------*/
/*-----------------ここからがid=aboutのcss-----------------*/
#about{
	height: 100vh;
	width: 100vw;
}

.american-village-about{
	height: 95%;
	width: 100%;
}

.american-village-about h2,
.american-village-about p,
.american-village-about h3{
	text-align: center;
}

.american-village-about h2{
	display: block;
	height: 10%;
	width: 100%;
	font-size: 50px;
	background-color: rgb(112, 8, 8);
	color: white;
	line-height: 140%;
}

.about-text{
	height: 30%;
	width: 100%;
}

.about-text p{
	height: 100%;
	width: 100%;
	padding-top: 3%;
	line-height: 30px;
}

.map{
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.map h3{
	display: block;
	height: 20%;
	font-size: 30px;
}
/*-----------------ここまでがid=aboutのcss-----------------*/